body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #FCFCFC;
}

#nav {
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
    position: fixed;
    background-color: rgba(255, 255, 255, .98);
    -webkit-backdrop-filter: blur(20px);
    z-index: 9999;
    padding: 0px 0px 0px 24px;
    position: absolute;
    top: 0;
    width: 100%;
}

body #nav {
    position: fixed;
    height: 66px;
    padding-top: 2px;
}

#nav div.logo {
    /*background-image: url(../images/spray.svg);*/
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #90949C;
    float: left;
    font-weight: 200;
    font-size: 18px;
}

.logo span {
    font-weight: bold;
}

.nav-isNotVisIfMobile {
    display: inline-block;
    right: 0;
    position: fixed;
}

#nav div.item {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px 32px 0 0;
    color: #90949C;
    -webkit-user-select: none;
}

#nav div.item,
#nav div.logo {
    line-height: 62px;
    display: inline-block;
    vertical-align: top;
}

.left {
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#content {
    padding-top: 66px;
}

.container--header {
    margin: 0 auto 36px auto;
    padding-left: 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
    box-sizing: border-box;
}

.h1--home-title {
    margin-bottom: 16px;
}

#search h1 {
    margin: 60px 0 16px 0;
}

#search form {
    margin: 60px 0 16px 0;
}

input:focus {
    outline: none;
    color: rgba(29, 33, 41, .5);
}

#search input[type="text"] {
    border: none;
    border-bottom: 1px solid #90949C;
    padding-bottom: 11px;
    font-size: 45px;
    font-weight: 300;
    background: transparent;
    color: #1D2129;
}

.btn {
    background-color: #4080FF;
    color: white;
    height: 58px;
    font-size: 18px;
    line-height: 26px;
    padding: 0 24px;
    border-radius: 4px;
    border-style: none;
    margin: 0px 5px 0px 50px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

h1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 53px;
    color: #1D2129;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    color: #90949C;
}

.home-container {
    max-width: 1185px;
    margin: 0 auto;
    min-height: 80vh;
    margin-top: 60px;
}

.home-container div {
    box-sizing: border-box;
}

.mix > a {
    display: inline-block;
}

ul {
    padding: 0;
}

.card {
    display: inline-block;
    position: relative;
    width: 355px;
    background-color: white;
    vertical-align: top;
    text-align: left;
    height: 480px;
    margin: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    color: #4B4F56;
}

.card--resource .card-hero {
    height: 296px;
}

.card-hero {
    background-color: white;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    clear: both;
    float: left;
    overflow: auto;
    width: 100%;
    padding: 20px;
}

.card-body {
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    overflow: visible;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 2;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 12px;
    color: #1D2129;
}

.card--resource .card-description {
    -webkit-line-clamp: 3;
}

.card-description {
    display: block;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 20px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4B4F56;
}

.card-footer {
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
}

.card-footer-wrapper {
    height: 46px;
    line-height: 46px;
    border-top: 1px solid #E9EBEE;
}

.card .is-notShownIfHover {
    display: inline-block !important;
}

.card-type {
    margin-right: 20px;
    display: inline-block;
    color: #4B4F56;
}

#footer {
    max-width: 1185px;
    width: 100%;
    margin: 110px auto 110px auto;
    padding: 0 20px;
}

.copyright {
    margin: 26px 0;
    margin-left: 12px;
    display: inline-block;
    color: #90949C;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    vertical-align: top;
}

#footer-links a {
    width: 20px;
    height: 20px;
}

.signinContainer {
    max-width: 1185px;
    margin: 0 auto;
    min-height: 60vh;
    margin-top: 60px;
    padding-left: 20px
}

.signinContainer input[type='text'] {
    border: 0;
    border-radius: 0;
    width: 400px;
    background: #F3F5F6;
    margin: 10px 0;
    padding: 10px;
}

label [for="input_post"]{
    display: none !important;
}

label [for="url"]{
    display: none !important;
}

label [for="latitude"]{
    display: none !important;
}

label [for="longtitude"]{
    display: none !important;
}

.signinContainer input[type='password'] {
    border: 0;
    border-radius: 0;
    width: 400px;
    background: #F3F5F6;
    margin: 10px 0;
    padding: 10px;
}
.signinContainer .btn {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.signinContainer hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.signinContainer a {
    color: #4080FF;
    font-weight: bold;
}
