<!doctype html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Project Polaroid</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" />
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Add your site or application content here -->
    <div id="nav">
        <div class="left">
            <a href="/micro">
                <div class="logo">Project <span>POLAROID</span></div>
            </a>
        </div>
        
        {% if logedIn %}
        <div class="nav-isNotVisIfMobile">
            <div class="item">
                <a href="{% url 'micro:post' %}">Post</a>
            </div>
            <div class="item">
                <a href="{% url 'micro:logout' %}">Log Out</a>
            </div>
        </div>
        {% else %}
        <div class="nav-isNotVisIfMobile">
            <div class="item">
                <a href="/micro/login/">Login</a>
            </div>
        </div>
        {% endif %}

    </div>
    <div id='content'>
        <div id='search' class="container container--header">
	<form method="POST" action="/">
                <input type="text" name="cityLocation" placeholder="What's your zip code?">
                <input type="submit" value="Search" class="btn">
                <h3>Collection of street art made by local artists.</h3>
            </form>
        </div>
        <div class="home-container">
            <ul>

		  <!--AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH -->
                <li class="mix" style="display: inline-block;">

                       	    {% if post_list %}
			    {% for post in post_list %}
			    <div class="card card--resource ">
                    <a href="/micro/post/{{post.id}}" target="_blank">
                            <!--Resource-->
                            <div class="card-hero" style="background-image: url({{post.url}})">

			    </div>
                            <div class="card-body">
                                <div class="card-title">{{ post.title }}</div>
				<p>({{ post.pub_date }})
                                <p class="card-description">{{ post.text}}</p>
		    	   </div>
                            <div class="card-footer">
                                <div class="card-footer-wrapper">
                                    <div class="card-type">Artist</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
		{% endfor %}
		{% endif %}
 		 <!--AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH -->
            </ul>
        </div>
    </div>
    <div id="footer">
        <div id="end-mark">
            <p class="copyright">Project Polaroid © 2016&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://cs.nyu.edu/courses/fall16/CSCI-UA.0480-005/index.html" target="_blank">Large Scale Web Apps</a></p>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')
    </script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
    window.ga = function() {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
